.DS_Store
node_modules
content-api/vendor
.bundle
auth/clients/node/lib/auth
sdk-api/newrelic_agent.log
node-phone-simulator/dist
newrelic_agent.log
node-phone-simulator/public/app.js
node-phone-simulator/.env
graphql-gateway/src/.env
graphql-gateway/dist/
graphql-gateway/coverage/

.idea
/react-bootstrap/es
/graphql-gateway/jest_0

# generated
__generated__**/
schema.graphql

# production
dist

# misc
npm-debug.log
yarn.lock
react-audience/FindGraphQLTags-*
